@import "dependencies/application";

// Boilerplate dependencies
@import "includes/vars";

/**
 * MODULES
 */

// Import forms and form fields
 @import "modules/forms";


// Bind placeholders to elements
input[type="text"],
input[type="password"],
select {
    @extend %input;
}

 input[type="submit"],
 input[type="button"],
 input[type="reset"],
 .button {
    @extend %button;
 }

 .form,
 form {
    @extend %form;
 }

 .form-field {
    @extend %form-field;

    > .field {
        @extend %field-container;
    }
 }

 .form-buttons {
    @extend %form-buttons;
 }

// Form styling

 %form {
    text-align: left;
 }

 %form-field {
    margin: $spacing_sm 0;

    > label {
        
    }

    > %field-container {

    }

 }

 %input {
    width: 100%;
    display: block;
 }