@import "dependencies/application";

// Boilerplate dependencies
@import "includes/vars";
@import "includes/helpers";

/**
 * BASE
 */

.sub-heading {
    font-family: 'Oleo',cursive;
    color: #999;
    font-weight: normal;
    margin-bottom: 0;
}

/**
 * MODULES
 */

// Accordion
.accordion {
    margin-top: 10px;

    > a {
        display: block;
        cursor: pointer;

        background-color: $color_primary2;
        padding: 10px 20px;
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;

        &:hover {
            text-decoration: none;
        }

        &.selected {
            background-color: $color_primary1;
        }
    }
    
    > div {
        display: none;

        margin-bottom: 10px;
        padding: 0 20px;

        &.default {
            display: block;
        }
    }
}

// Import forms and form fields
 @import "modules/forms";


// Bind placeholders to elements
input[type="text"],
input[type="password"],
select {
    @extend %input;
}

 input[type="submit"],
 input[type="button"],
 input[type="reset"],
 .button {
    @extend %button;
 }

 .form,
 form {
    @extend %form;
 }

 .form-field {
    @extend %form-field;

    > .field {
        @extend %field-container;
    }

    > .value {
        @extend %value-container;
    }

    > .hint {
        @extend %hint-container;
    }
 }

 .form-buttons {
    @extend %form-buttons;
 }

// Form styling

 %form {
    text-align: left;
 }

 %form-field {
    

    > label {
        
    }

    > %field-container {
        &.cc-num {
            @extend %clearfix;

            .number {
                width: 74%;
                float: left;
            }

            .cvc {
                width: 24%;
                margin-left: 2%;
                float: left;
            }
        }

        &.cc-exp {
            @extend %clearfix;

            %input {
                width: 48%;
                float: left;
                margin-right: 2%;

                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }

    > %value-container {
        font-weight: bold;
    }

    > %hint-container {
        font-size: 11px;
    }

    a {
        color: $color_primary1;
        font-weight: bold;
    }



 }

 %form-buttons {
    text-align: center;
 }

 %input {
    width: 100%;
    display: block;
 }

 /**
  * PAGES
  */
 
 // Sign Up

 // Sign Up - Step 3, Confirm
 #rollover-expiration {
    font-weight: bold;
    font-style: italic;
 }
// Sign Up - Confirm
 #discount-code {
    font-weight: bold;
    color: #f66;
 }