%form {
    visibility: visible;
}

%input {
    visibility: visible;
}

%button {
    visibility: visible;
}

%form-field {
    visibility: visible;

    > label {
        display: block;
        margin-bottom: $spacing_xs;

        &:after {
            content: ":";
        }
    }

    > %field-container {
        visibility: visible;
    }

}

%form-buttons {
    margin: $spacing_lg 0 $spacing_sm 0;

    %button {
        margin-right: $spacing_sm;
    }

}